/* You can add global styles to this file, and also import other style files
COLORS:
#61892F dark green 
#86C232 light green
#222629 black
#474B4F grey
#6B6E70 light grey
*/

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #474b4f;
}

.dark-green-button {
  color: white;
  background-color: #61892f;
}
