<mat-card>
  <div *ngIf="requests?.length; else elseBlock" class="container">
    <h2>Awaiting friend requests:</h2>
    <mat-list *ngFor="let request of requests" class="list">
      <mat-list-item class="item">
        <div class="user">
          <a [routerLink]="['/profile/', request.id]">{{ request.username }}</a>
          wants to be your friend.
        </div>
        <div class="remove">
          <button mat-button (click)="acceptRequest(request.id)">
            accept
          </button>
        </div>
        <div class="remove">
          <button mat-button (click)="rejectRequest(request.id)">
            decline
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <ng-template #elseBlock>
    <h4>No waiting friend requests</h4>
  </ng-template>
</mat-card>
