<mat-card>
  <mat-card-title id="title">Please, fill in your details</mat-card-title>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        id="username"
        class="form-control"
        formControlName="username"
        required
      />
    </mat-form-field>
    <mat-error
      *ngIf="username.invalid && (username.dirty || username.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
      <div *ngIf="!username.errors.minLength && !username.errors.required">
        Enter at least 5 symbols.
      </div>
    </mat-error>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>
    <mat-error
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="!password.errors.minLength && !password.errors.required">
        Enter at least 5 symbols.
      </div>
    </mat-error>
    <br />
    <mat-form-field>
      <mat-label>Re-enter password</mat-label>
      <input
        type="password"
        formControlName="confirmPassword"
        required
        matInput
      />
    </mat-form-field>
    <mat-error
      *ngIf="
        (confirmPassword.dirty || confirmPassword.touched) &&
        registerForm.errors?.notSame
      "
      class="cross-validation-error-message alert alert-danger"
    >
      Passwords do not match
    </mat-error>
    <br />
    <button
      class="dark-green-button"
      type="submit"
      id="register-button"
      mat-raised-button
    >
      Submit
    </button>
    <br />
    <button mat-button routerLink="/login">Back</button>
    <div class="fail" *ngIf="invalid === true">
      Please check if all the fields are correct
    </div>
    <div class="success" *ngIf="invalid === false">
      You have registered successfully!
    </div>
  </form>
</mat-card>
