<mat-card>
  <mat-card-title id="title">Please, fill in your details</mat-card-title>
  <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm)">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-hint *ngIf="username.dirty || username.touched">
      <div *ngIf="username.errors?.required">
        Username is required.
      </div>
      <div *ngIf="username.errors?.minlength">
        Enter at least 5 symbols.
      </div>
      <div *ngIf="username.errors?.maxlength">
        Max 20 symbols allowed.
      </div>
    </mat-hint>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <mat-hint *ngIf="password.dirty || password.touched">
      <div *ngIf="password.errors?.required">
        Password is required.
      </div>
      <div *ngIf="password.errors?.minlength">
        Enter at least 5 symbols.
      </div>
      <div *ngIf="password.errors?.maxlength">
        Max 20 symbols allowed.
      </div>
    </mat-hint>
    <br />
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
    </mat-form-field>
    <mat-hint *ngIf="confirmPassword.dirty || confirmPassword.touched">
      <div *ngIf="confirmPassword.errors?.required">
        Confirmation is required.
      </div>
      <div *ngIf="confirmPassword.errors?.notSame">
        Passwords do not match
      </div>
    </mat-hint>
    <br />
    <button
      class="dark-green-button"
      type="submit"
      id="register-button"
      mat-raised-button
    >
      Submit
    </button>
    <br />
    <button mat-button routerLink="/login">Back</button>
    <div class="fail">
      {{ errorMessage }}
    </div>
    <div class="success">
      {{ successMessage }}
    </div>
  </form>
</mat-card>
