<mat-toolbar class="navigation">
  <a mat-icon-button routerLink="/home"><mat-icon>home</mat-icon></a>
  <button class="light-green-button" mat-raised-button>
    Create post
  </button>
  <button
    class="light-green-button"
    mat-raised-button
    [matMenuTriggerFor]="appMenu"
  >
    {{ loggedUser.username }}
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/profile/', loggedUser.id]">
    Profile
  </button>
  <button mat-menu-item (click)="openActivity()">Recent activity</button>
  <button mat-menu-item (click)="openFriends()">Friends</button>
  <button mat-menu-item (click)="logout()" style="color: red;">
    Logout
  </button>
</mat-menu>
