<div class="toolbar-container">
  <mat-toolbar class="navigation">
    <a routerLink="/posts/all"
      ><div id="logo">
        <img src="/assets/images/logo.png" alt="Forum logo" />
      </div>
    </a>
    <button class="light-green-button" mat-raised-button>
      Hit the forum now!
    </button>
    <div id="username">
      Hello, {{ loggedUser.username }}
      <div *ngIf="isAdmin">
        Admin
      </div>
    </div>
    <div class="image-container">
      <a [matMenuTriggerFor]="appMenu">
        <img [src]="avatar" class="avatar-image" />
      </a>
    </div>
  </mat-toolbar>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/profile/', loggedUser.id]">
    Profile
  </button>
  <button mat-menu-item (click)="openActivity()">Recent activity</button>
  <button mat-menu-item (click)="openFriends()">Friends</button>
  <button mat-menu-item (click)="logout()" style="color: red;">
    Logout
  </button>
</mat-menu>
