.navigation {
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: #61892f;
  overflow: hidden;
}

#logo {
  border-radius: 50%;
  background-color: white;
}

.avatar-image {
  width: 4em;
  height: 80%;
  border: 5px solid #86c232;
}

.toolbar-container {
  height: 11%;
}

.image-container {
  height: auto;
  cursor: pointer;
}

#username {
  margin-left: 15%;
  font-style: italic;
}
