.register-popup {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 25%;
  text-align: center;
  z-index: 30;
}

.carousel-container {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.login-container {
  position: fixed;
  width: 40%;
  top: 10%;
  left: 30%;
  text-align: center;
  z-index: 4;
}

#login-button {
  color: white;
  background-color: #86c232;
}

#logo-image {
  position: fixed;
  z-index: 3;
}
