.carousel-container {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.login-container {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 30%;
  text-align: center;
  z-index: 2;
}

#login-button {
  color: white;
  background-color: #86c232;
}
