<app-navigation></app-navigation>

<div class="center">
  <mat-progress-spinner mode="indeterminate" value="50" diameter="70" *ngIf="!post"></mat-progress-spinner>
</div>

<div class="single-post-container" *ngIf="post">
  <div class="single-post-card" [ngClass]="{'opened': commentsOpened}">

    <div class="card-image">
      <div class="avatar" [routerLink]="['/profile', post.user.id]">
        <img *ngIf="avatar" [src]="avatar" class="avatar" />
      </div>
      <div class="username">
        <p [routerLink]="['/profile', post.user.id]">@{{post?.user.username}}</p>
      </div>
    </div>

    <div class="card-text">
      <div class="icons">
        <div class="flag" *ngIf="!isAuthor" (click)="flagPost(post)" [ngClass]="{'full': postFlagged}"></div>
        <div class="pencil" *ngIf="isAuthor" (click)="updatePost(post)"></div>
        <div class="bin" *ngIf="isAuthor || isAdmin" (click)="deletePost(post)"></div>
        <div class="padlock" *ngIf="isAdmin" (click)="lockPost(post)" [ngClass]="{'full': post?.isLocked}">
        </div>
      </div>
      <span class="date">{{post?.createdOn |date}}</span>
      <h2>{{post?.title}}</h2>
      <p>{{post?.content}}</p>
    </div>

    <div class="card-stats" [ngClass]="{'opened': commentsOpened}">
      <div class="stat left" (click)="loadComments(post.id)" [ngClass]="{'opened': commentsOpened}">
        <div class="value">{{post?.commentsCount}}</div>
        <div class="type">comments</div>
      </div>

      <div class="stat right" (click)="likePost(post)" [ngClass]="{'opened': commentsOpened}">
        <div class="heart" *ngIf="!isAuthor" [ngClass]="{'full': postLiked}"></div>
        <div class="heart inactive" *ngIf="isAuthor"></div>
        <div class="value" (click)="$event.stopPropagation(); showPostVotes(post)" title="Show likes">
          {{post?.votes.length}}</div>
        <div class="type">likes</div>
      </div>
    </div>

    <button mat-fab #create class="create" title="Add a new comment" (click)="child.createComment();">+</button>
    <app-all-comments #child class="comments-section" [ngClass]="{'opened': commentsOpened}" [postId]="post.id"
      [comments]="post.comments" (updateComments)="updateComments($event)"></app-all-comments>

  </div>
</div>