.not-found-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-template-rows: repeat(auto-fit, min-content); 

    height: 100vh;
    background-color: rgb(168,200,185);
}

.text {
    /* grid-area: text; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found-text1 {
    grid-area: text1;
    font-family: roboto;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.2;
}

.not-found-text2 {
    grid-area: text2;
    font-family: roboto;
    font-size: 1.5em;
    font-weight: 400;
}

.not-found-image {
    /* grid-area: image; */
    background: url("../../../assets/posts/missing-the-mark.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; 
}

span {
    color: #b24735;
    cursor: pointer;
}
