.not-found-container {
    display: grid;
    grid-template-columns: 1fr 35em 7em 2fr ;
    grid-template-rows: 10em 5em 30em 1fr;
    grid-template-areas: " . . . . " 
                         ". image . text1" 
                         ". image . text2" 
                         " . . . . ";

    height: 100vh;
    background-color: rgb(168,200,185);
}

.not-found-text1 {
    grid-area: text1;
    font-family: roboto;
    font-size: 2.5rem;
    font-weight: 500;
}

.not-found-text2 {
    grid-area: text2;
    font-family: roboto;
    font-size: 1.5rem;
    font-weight: 400;
}

.not-found-image {
    grid-area: image;
    height: 25em;
    background: url("../../../assets/posts/missing-the-mark.jpg");
    background-size: cover;
}

span {
    color: #b24735;
    cursor: pointer;
}