<div class="comments-container">
    <div class="single-comment-container" *ngFor="let comment of comments"
        [ngClass]="{'last': checkIfLastComment(comment)}">
        <div class="avatar"></div>
        <div class="username">@{{comment.user.username}}</div>
        <div class="content">{{comment.content}}</div>
        <div class="icons">
            <div class="pencil" (click)="updateComment($event)"></div>
            <div class="bin" (click)="deleteComment($event)"></div>
        </div>
        <div class="info">
            <div class="date">
                <div class="label">Last modified on:</div>
                <div class="value">{{comment.createdOn | date}}</div>
            </div>
            <div class="likes">
                <div class="heart" (click)="likeComment(comment)" [ngClass]="{'full': comment.isLiked}">
                </div>
                <div class="value">{{comment.votes.length}}</div>
            </div>
        </div>
    </div>
</div>