<div class="container" *ngIf="userActivity?.length; else elseBlock">
  <h2>Your recent activity:</h2>
  <mat-list *ngFor="let activity of userActivity">
    <mat-list-item>
      {{ activity.username }} <span class="activity-link" (click)="targetRouter(activity)">{{ activity.action }}</span>
      on
      {{ activity.timeStamp | date }}
    </mat-list-item>
  </mat-list>
</div>
<ng-template #elseBlock>
  <h2>
    Looks like you haven't been very active lately.
  </h2>
  <h1>
    Hit the forum now!
  </h1>
</ng-template>