<app-navigation></app-navigation>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Self aware panel
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-user-activity></app-user-activity>
</mat-expansion-panel>
<div
  *ngIf="
    loggedUser.id !== profileOwnerId &&
    !areFriends &&
    !friendRequestSent &&
    !friendRequestWaiting
  "
>
  <button mat-raised-button (click)="sendFriendRequest(profileOwnerId)">
    Send friend request
  </button>
</div>
<div *ngIf="friendRequestWaiting">
  <button mat-raised-button (click)="acceptFriendRequest(profileOwnerId)">
    Accept friend request
  </button>
  <button mat-raised-button (click)="deleteFriendRequest(profileOwnerId)">
    Delete friend request
  </button>
</div>
