<div class="comments-container">
    <div class="single-comment-container" *ngFor="let comment of comments"
        [ngClass]="{'last': checkIfLastComment(comment)}">
        <div class="avatar"></div>
        <div class="username">@{{comment.user.username}}</div>
        <div class="content" *ngIf="!comment.inEditMode">{{comment.content}}</div>
        <textarea class="content edit" type="text" *ngIf="comment.inEditMode" [(ngModel)]="newContent"></textarea>
        <div class="actions">
            <button mat-raised-button class="undo" *ngIf="comment.inEditMode"
                (click)="undoUpdate(comment)">Undo</button>
            <button mat-raised-button color="accent" class="save" *ngIf="comment.inEditMode"
                (click)="saveUpdate(comment, newContent)">Save</button>
        </div>
        <div class="icons">
            <div class="pencil" *ngIf="comment.isAuthor" (click)="updateComment(comment)"></div>
            <div class="bin" *ngIf="comment.isAuthor || comment.isAdmin" (click)="deleteComment(comment)"></div>
        </div>
        <div class="info">
            <div class="date">
                <div class="label">Last modified on:</div>
                <div class="value">{{comment.createdOn | date}}</div>
            </div>
            <div class="likes">
                <div class="heart" *ngIf="!comment.isAuthor" (click)="likeComment(comment)"
                    [ngClass]="{'full': comment.isLiked}">
                </div>
                <div class="heart inactive" *ngIf="comment.isAuthor">
                </div>
                <div class="value">{{comment.votes.length}}</div>
            </div>
        </div>
    </div>
    <button mat-fab id="create-btn" class="create" title="Add a new comment" (click)="createComment()">+</button>
</div>