<div *ngIf="friendStatus?.isFriend">
  <button mat-raised-button (click)="removeFriend(profileOwnerId)">
    unfriend
  </button>
</div>
<div *ngIf="friendStatus?.requestReceived">
  <button mat-raised-button (click)="acceptFriendRequest(profileOwnerId)">
    accept friend request
  </button>
  <br />
  <br />
  <button mat-raised-button (click)="rejectFriendRequest(profileOwnerId)">
    decline friend request
  </button>
</div>
<div *ngIf="friendStatus?.requestSent">
  <h4 style="color: white;">Friend request sent, waiting for reply</h4>
</div>
<div
  *ngIf="
    !friendStatus?.isFriend &&
    !friendStatus?.requestReceived &&
    !friendStatus?.requestSent
  "
>
  <button mat-raised-button (click)="sendFriendRequest(profileOwnerId)">
    send friend request
  </button>
</div>
