<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
    <form [formGroup]="commentForm">

        <mat-form-field class="content">
            <mat-label>{{data.commentContentMessage}}</mat-label>
            <textarea matInput formControlName="commentContent" required class="text">
            </textarea>
        </mat-form-field>

        <mat-error *ngIf="commentContent.invalid && (commentContent.dirty || commentContent.touched)"
            class="alert alert-danger">
            <div *ngIf="commentContent.errors.required">
                Content is required
            </div>
            <div *ngIf="commentContent.errors.minlength && !commentContent.errors.required">
                Content should be at least 1 symbol
            </div>
            <div *ngIf="commentContent.errors.maxlength && !commentContent.errors.required">
                Content should be max 200 symbols
            </div>
        </mat-error>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button (click)="onSubmit(commentForm)" cdkFocusInitial [disabled]="commentForm.invalid">Save</button>
</div>